/* app css stylesheet */

html {
    overflow: scroll;
    overflow-x: hidden;

}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
  font-family: 'Lato', sans-serif;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.ng-scope {
   height: 100%;
}

.md-sidenav-left {
   background-color: #222428;
   border-right: 1px solid #090d16;
}

.second-container {
   background-color: #222428;
   border-right: 1px solid #090d16;
}

.third-container {
   background-color: #21252C;
   width: 65%;
}

.width {
  width: 100%;
  padding: 0;
}

.green {
  background-color: #29ce9a !important;
}

.lightGray {
  background-color: #222428 !important;
  border-bottom: 1px solid #090d16;
}

.white {
  color: #798894;
}

.graphHeader { 
  background-color: #21252C !important;
  color: #798894;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 15px;
}

.graphHeader h1, h2, h3, h4 {
    margin: 0px !important;
}

.stockData {
  margin-top: 0;
  padding-left: 0;
}

.stockData li {
  list-style-type: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #798894;
  border-bottom: 1px solid #b1b6af;
}

.stockData li:nth-child(4) {
  border-bottom: none;
}

#headerRightCont {
  float: right;
  width: auto;
  text-align: right;
  margin-right: 8px;
}

#headerLeftCont {
  width: auto;
  float: left;
  margin-left: 7px;
}

.stats {
  color: #798894;
}

.statRight {
  float: right;
  color: #DDDFDC;
}

.newsHeadlines {
  list-style-type: none;
  padding-left: 0px;
}

.newsHeadLines li, a {
  text-decoration: none;
  color: #798894;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: normal;
}

.stockList h3, h4 {
  color: #DDDFDC !important;
}

.tickUp {
  width: 60%;
  color: #29ce9a !important;
}

.tickDown {
  width: 60%;
  color: #FF5132 !important;
}

.stockSearch {
  margin: 0 auto;
  background-color: transparent;
  border: none;
  font-family: 'Lato', sans-serif;
  padding-top: 5%;
  width: 43%;
  font-size: 17px;
}

input:focus {
  outline: none;
}

.stockNumbers {
  text-align: left;
}

.priceLabel {
/*background-color: #29ce9a;
  padding: 3px 15px 3px 15px;
  border-radius: 8px;*/
  color: #798894;
}

.sidenav-list {
  color: #FFF;
  margin-top: 20px;
}

.mouseOver {
  margin: 10px;
}

.md-content._md.md-show {
  height: auto !important;  
  line-height: 1.4;
  padding: 15px;
  font-size: 15px;
  background-color:rgba(0, 0, 0, 0.7);
}